llama-index
qdrant_client
torch
transformers
llama-index-embeddings-huggingface
llama-index-llms-ollama
llama-index-vector-stores-qdrant
streamlit
llama-index-core
llama-index-llms-openai
openai
sentence-transformers
python-dotenv